<div class="well well-sm" id="user-badge">
  <%= link_to gravatar_for(user), user_path(user) %>
  <h4><%= user.name %></h4>
  <p>
    <span class="label label-primary">
      <i class="fa fa-code"></i> <%= user.tips_count %>  
    </span>
    &nbsp;
    <span class="label label-info">
      <i class="fa fa-bookmark"></i> <%= user.bookmarks_count %>  
    </span>
  </p>
  <p><small><%= link_to 'Profile', user_path(user) %></small></p>
  <div class="clearfix"></div>
</div>