<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
   <div class="span8">
    <% if @user.tips.any? %>
      <h3><%= @user.first_name + "'s"  %> Tips (<%= @user.tips.count %>)</h3>
      <ol class="tips">
        <%= render partial: 'shared/tip', collection: @user.tips %>
      </ol>
    <% end %>
  </div>
  <div class="span8">
    <% if @user.bookmarks.any? %>
      <h3><%= @user.first_name + "'s" %> Bookmarks (<%= @user.bookmarks.count %>)</h3>
      <ol class="tips">
        <%= render partial: 'shared/bookmark', collection: @user.bookmarks %>
      </ol>
    <% end %>
  </div>
</div>

<%= link_to 'Back', tips_path %>
