<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-sm-7 col-md-8">
     <h3>Times <%=@user.name %> has been bookmarked: <%=  @tip_bookmarked %></h3>
    <% if @user.tips.any? %>
      <h3><i class="fa fa-comment"></i> <%= @user.first_name %>'s tips (<%= @user.tips_count %>)</h3>
      <ol class="tips">
        <%= render partial: 'shared/tip', collection: @user.tips %>
      </ol>
    <% end %>
    <hr>
    <% if @user.bookmarks.any? %>
      <h3><i class="fa fa-bookmark"></i> <%= @user.first_name %>'s bookmarks (<%= @user.bookmarks_count %>)</h3>
      <ol class="tips">
        <%= render partial: 'shared/bookmark', collection: @user.bookmarks %>
      </ol>
    <% end %>
  </div>
  <div class="col-sm-5 col-md-4">
    <div class="well well-sm" id="user-badge">
      <%= gravatar_for @user %>
      <h4><%= @user.name %></h4>
        <div id="profile"><a href="">Show profile</a></h6>
      <div class="clearfix"></div>
    </div>
  </div>
    <div id="bio"
    <div class="col-sm-5 col-md-4">
      <div class="well well-sm" id="user-badge">
        <h4>Bio:</h4>
        <div id="bio"><%= @user.bio %></div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
