<% provide(:title, 'Dashboard') %>

<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Tips on Rails <small>Statistics Overview</small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-dashboard"></i> Dashboard
          </li>
        </ol>
      </div>
    </div>

    <!-- /.row -->

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-user fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @all_users %></div>
                <div>All Users</div>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left"><%= link_to "View Users", admin_dashboards_index_path %></span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
        <div class="col-lg-4 col-md-6">
          <div class="panel panel-green">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-code fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge"><%= @all_tips %></div>
                  <div>Total Tips</div>
                </div>
              </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left"><%= link_to "View Tips", tips_path%></span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="panel panel-yellow">
              <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-bookmark fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge"><%= @all_bookmarks %></div>
                      <div>Bookmarks</div>
                    </div>
                  </div>
                </div>
                <div class="panel-footer">
                  <span class="pull-left"><%= link_to "View Bookmarks" %></span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>  
            <div class="col-sm-4">
              <h3 id="most"><%= link_to "Most Active Users" %></h3> 
              <p>(30 or more)</p> 
              <hr>
              <%= @most_active_users %>
            </div>
            <div class="col-sm-4">
              <h3 id="more"><%= link_to "More Active Users" %></h3>
                <p>(1 - 29)</p> 
              <hr>
              <%= @more_active_users %>
            </div>
           <div class="col-sm-4">
              <h3 id="more"><%=link_to "Tips Added"%></h3>
              <p><%=(Date.today.at_beginning_of_week - 7.days).strftime('%B %e') %> to <%= (Date.today.at_beginning_of_week).strftime('%B %e') %></p>
              <hr>
              <p><%= @weekly_tips %></p>  
          </div>
          <div class="col-sm-12" id="most-active"  style="display:none">
              <h3>
                Most Active 
              </h3>
              <%= render 'user', collection: @list_most_active_users %>
          </div>
          <div class="col-sm-12" id="more-active"   style="display:none">
              <h3>
                More Active
              </h3>
              <%= render 'user', collection: @list_more_active_users %> 
          </div>
        </div>
      </div>
