<% if current_user %>
  <% unless @tip.user == current_user %>
    <div id="bookmark-form">
    <% if @bookmark %>
      <%= form_tag bookmark_path(@bookmark), method: :delete do %>
        <%= button_tag class: "btn btn-sm btn-default" do %>
          <i class="fa fa-bookmark text-danger"></i>
        <% end %>
      <% end %>
    
    <% else %>

      <%= form_tag bookmarks_path, method: :post do %> 
        <div><%= hidden_field_tag :tip_id, @tip.id %></div>
        <%= button_tag class: "btn btn-sm btn-default" do %>
          <i class="fa fa-bookmark text-success"></i>
        <% end %>
      <% end %>
    <% end %>
    </div>
  <% end %>
<% end %>