<% if current_user %>
  <% unless @tip.user == current_user %>
    <div id="bookmark_form">
    <% if @bookmark %>
      <%= form_tag bookmark_path(@bookmark), method: :delete do %>
        <%= submit_tag "Unbookmark", class: "btn btn-large btn-primary" %>
      <% end %>
    
    <% else %>

      <%= form_tag bookmarks_path, method: :post do %> 
        <div><%= hidden_field_tag :tip_id, @tip.id %></div>
        <%= submit_tag "Bookmark", class: "btn btn-large btn-primary" %>
      <% end %>
    <% end %>
    </div>
  <% end %>
<% end %>