  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div id="one" class="field_code">
    <%= f.label :code %><br>
    <%= f.text_area :code %>
  </div>
  <div class="field">
    <%= f.label :references %><br>
    <%= f.text_area :references %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>