<h2><%= link_to @tip.user.name, user_path(@tip.user) %></h2>
<h4><%= @tip.title %> has been bookmarked by</h4>
<p><%= pluralize(@tip.bookmarks_count, "user") %></p>

<p>
  <strong>Title:</strong>
  <li><%= @tip.title %></li>
</p>

<p>
  <strong>Description:</strong>
  <li><%= @tip.description %></li>
</p>

<p>
  <strong>Body:</strong>
  <%= @tip.body_cached.html_safe %>
</p>