<%= div_for tip do %>
  <h4><%= link_to tip.title, tip_path(tip) %></h4>
  <p><small><%= time_ago_in_words(tip.created_at) %> ago.</small> <%= tip.description %></p>

  <span class="hidden">
    <% if can? :destroy, tip %>
      <%= link_to "Delete", tip, method: :delete, data: { confirm: "If you delete this, it's not coming back. Maybe, you would rather edit this tip." }, title: tip.description %>
    <% end %>
    <% if can? :update, tip %>
      <%= link_to "Edit", edit_tip_path(tip) %>
    <% end %> 
  </span>
<% end %>