<%= div_for tip do %>
  <div class="controls">
    <% if can? :destroy, tip %>
      <%= link_to tip, method: :delete, class: 'btn btn-danger btn-xs',  title: tip.description do %>
        <i class="fa fa-times"></i>
      <% end %>
    <% end %>
    <% if can? :update, tip %>
      <%= link_to edit_tip_path(tip), class: 'btn btn-primary btn-xs' do %>
        <i class="fa fa-pencil"></i>
      <% end %>
    <% end %>
  </div>
  <%= bookmark_button(tip) %>
  <h4>
    <%= link_to tip.title, tip_path(tip) %>
  </h4>
  <p><small><%= time_ago_in_words(tip.created_at) %> ago.</small> <%= tip.description %></p>
<% end %>
