<h2><%= @tip.user.name %></h2>
<h4><%= @tip.title %> has been bookmarked by</h4>
<p><%= pluralize(@tip.bookmarks_count, "user") %></p>

<p>
  <strong>Title:</strong>
  <li><%= @tip.title %></li>
</p>

<p>
  <strong>Description:</strong>
  <li><%= @tip.description %></li>
</p>

<p>
  <strong>Code:</strong>
  <%= @tip.code_cached.html_safe %>
</p>

<p>
  <strong>Reference:</strong>
  <li><%= @tip.references %></li>
</p>