<% provide(:title, @tip.title) %>

<div class="row">
  <div class="col-sm-7 col-md-8 tip">

    <div class="page-header">
      <%= render partial: 'tip_controls' %>
      <%= render partial: 'bookmarks/label', locals: { tip: @tip, user: current_user } %>
      <%= render "bookmark_form" %>
      <h2>
        <%= @tip.title %>
      </h2>
    </div>
    
    <p class="lead"><%= @tip.description %></p>

    <div class="body">
      <%= @tip.body_cached.html_safe %>
    </div>

  </div>
  <div class="col-sm-5 col-md-4">
    <%= render partial: 'users/user_badge', object: @tip.user, as: :user %>
  </div>
</div>
