<% provide(:title, @tip.title) %>

<div class="row">
  <div class="col-sm-7 col-md-8 tip">

    <div class="page-header">
      <%= render partial: 'tip_controls' %>
      <div class="bookmarks-label <%= 'none' if @tip.bookmarks_count == 0 %>">
        <i class="fa fa-bookmark"></i>
        <%= @tip.bookmarks_count %>
      </div>
      <h2>
        <%= @tip.title %>
      </h2>
    </div>
    
    <p><%= @tip.description %></p>

    <%= @tip.body_cached.html_safe %>

  </div>
  <div class="col-sm-5 col-md-4">
    <%= render partial: 'users/user_badge', object: @tip.user, as: :user %>

    <%= render "bookmark_form" %>

  </div>
</div>
