<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "Tips on Rails", '#', id: "logo" %>
      <nav>
        <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", tips_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-default" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>