<!DOCTYPE html>
<html lang="en">
  <%= render partial: 'layouts/head' %>
<body>
  <%= render partial: 'layouts/header' %>

  <div class="container">
    <%= render partial: 'layouts/notice_alert' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>